# This workflow will build a Java project with Ant
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-java-with-ant

name: Java CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: 'Set up latest Oracle JDK 17'
      uses: oracle-actions/setup-java@v2
      with:
        website: oracle.com
        release: 17
        java-package: jdk+fx
    #- run: |
    #    DOWNLOAD_URL="https://download.oracle.com/java/17/latest/jdk-17_linux-x64_bin.tar.gz"
    #    wget -O $RUNNER_TEMP/java_package.tar.gz $DOWNLOAD_URL
    #- name: Set up JDK 17
    #  uses: actions/setup-java@v3
    #  with:
    #    distribution: 'jdkfile'
    #    jdkFile: ${{ runner.temp }}/java_package.tar.gz
    #    java-version: '17.0.5'
    #    architecture: x64

    - name: Build with Ant
      run: ant -noinput -buildfile build.xml

    # This works but I can't figure out a way to do it for ALL packages, so have to run it once for each package lol
    - name: Test with JUnit
      run: |
        java -jar lib/junit-platform-console-standalone-1.9.1.jar --class-path ./build/classes -p Utils
        java -jar lib/junit-platform-console-standalone-1.9.1.jar --class-path ./build/classes -p Game
        java -jar lib/junit-platform-console-standalone-1.9.1.jar --class-path ./build/classes -p Entities
        java -jar lib/junit-platform-console-standalone-1.9.1.jar --class-path ./build/classes -p DataTypes
